.counter{
  font-size: 35px;
  color: rgb(68, 68, 68);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;

  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  
  text-align:center;
}

